*{
    box-sizing: border-box;
    margin:0;
}


body{
    font-family:Arial;
    background-color: #70818d;
}

.card{
    width: 330px;
    min-height:400px;
    background-color: white;
    margin:  0 auto;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 15px 15px 18px rgba(0,0,0,1.34);
    /*webgradients.com para ver diferentes gradientes*/
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    background-size: 100% 150px;
    background-repeat: no-repeat;
    text-align: center;
    padding: .1px;
    
}

.card__person{
    /*Unsplash.com para descargar imagenes gratis*/
    background-image:url('Imagen/foto.jpeg');
    background-size:cover;
    background-position: top;
    width:145px;
    height: 145px;
    margin: 0 auto;
    margin-top:105px;
    border-radius: 50%;
    border: 7px solid #fff
}

.card__name{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family:Georgia;
    
}

.card__position{
    margin-top: 12px;
    font-family:Georgia,;
    font-style: italic;
    
}

.card__media{
    margin-top: 40px;
    width: 100%;
    height: 90px;
    border-top: 1px  solid #000000;
    display: flex;
    justify-content: center;
}

.card__icon{
    width:25%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size:40px;
    background-position:center;
}

    /*Boxicons.com para descargar iconos gratis*/
    /*norfipc.com para ver los colores de los iconos de las redes sociales*/


.card__icon--Linkedin{
    background-image: url('Imagen/Linkedin.svg');
}


.card__icon--GitHub{
    background-image: url('Imagen/GitHub.svg');
}







